.quiz-results {
    background-color: #2c2c54; /* Dark background for the whole quiz result */
    color: #2c2c54;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.question-container {
    background-color: white; /* Dark blue background for the question */
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 2px solid #706fd3; /* Modern border */
    /* Add a box-shadow for a more modern look, if desired */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.options-container {
    /* No changes needed, should work as intended */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-button {
    background-color: #fff; /* White background for options */
    color: #2c2c54; /* Dark text color for options */
    padding: 15px;
    border-radius: 20px;
    border: 2px solid #706fd3; /* Border color for options */
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%; /* Ensures buttons extend full width of the container */
    margin-bottom: 10px; /* Adds space between buttons if 'gap' is not working */
}

.option-button:hover {
    background-color: #34ace0; /* Light blue background for hover */
    transform: scale(1.05); /* Slight increase in size on hover */
}

.option-button.selected {
    background-color: #33d9b2; /* Teal background for selected */
    color: white;
    border-color: #218c74; /* Darker teal border for selected */
}

.feedback-container {
    padding: 15px;
    margin-top: 10px;
    background-color: #333366; /* Dark background for feedback */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.correct {
    color: #2ed573; /* Green for correct */
}

.incorrect {
    color: #ff5252; /* Red for incorrect */
}

.explanation {
    margin-top: 5px;
    color: #d1d8e0; /* Light grey color for explanation text */
    font-style: italic;
}

.score-container {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #40407a; /* Dark blue background for the score */
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.go-back-button {
    background-color: #34ace0;
    color: white;
    padding: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.go-back-button:hover {
    background-color: #227093;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}